<p>
	<%= @import_file.update_hook_param %>
</p>
<p>
	<b>File:</b>
	<%= link_to @import_file.comment.to_s, @import_file.lead_data.url %>
</p>

<p>
  <b>Comment:</b>
  <%=h @import_file.comment %>
</p>

<%= link_to 'Edit', edit_import_file_path(@import_file) %> |
<%= link_to 'Back', import_files_path %>
